<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthday Wishes</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
      }
      .email-container {
        max-width: 700px;
        margin: 10px auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      .email-header {
        background-color:<%= birthdayColor %>;
        color: white;
        text-align: center;
        padding: 20px 0;
      }
      .email-header h1 {
        margin: 0;
        font-size: 24px;
      }
      .email-body {
        padding: 20px;
        text-align: center;
      }
      .email-body h2 {
        font-size: 22px;
        color: #333;
      }
      .email-body p {
        font-size: 16px;
        line-height: 1.6;
        color: #666;
      }
      .email-footer {
        background-color:<%= birthdayColor %>;
        color: white;
        text-align: center;
        padding: 10px 0;
      }
      .email-footer p {
        margin: 0;
        font-size: 14px;
      }

      .btn {
        background-color: #ff6f61;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        display: inline-block;
      }

      .birthday-image {
        text-align: center;
        margin-bottom: 20px;
      }
      .birthday-image img {
        max-width: 100%;
      }

      .signature {
        padding: 20px;
        border-top: 1px solid #ddd;
        text-align: left;
        font-size: 16px;
        color: #333;
        line-height: 1.6;
      }
      .signature p {
        margin: 5px 0;
      }
      .signature .name {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
      }
      .signature .title {
        font-size: 14px;
        color: #777;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <div class="email-header">
        <h1>Happy Birthday, <%= name %>! 🎂</h1>
      </div>

      <div class="email-body">
        <h2><%= birthdayMessage %></h2>
        <p>May all your dreams come true, and may this birthday be as special as you are!</p>
      </div>
      <div class="birthday-image">
        <img src="cid:randomImage" alt="Happy Birthday" />
      </div>

      <div class="signature">
        <p>Regards,</p>
        <p class="name">Parikshit Mundhra</p>
        <p class="title">Willowood Chemicals Ltd.</p>
      </div>

      <div class="email-footer">
        <p>Willowood Chemicals Ltd.</p>
      </div>
    </div>
  </body>
</html>
